<h2>phone</h2>

<%= form_for @user, url: step3_signup_index_path, method: :get do |f| %>

  <div class="field">
    phone number
    <%= f.text_field :phone_number, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "次へ" %>
  </div>
<% end %>