<h2>User profile</h2>

<%= form_for @user, url: step3_signup_index_path, method: :get do |f| %>

  <div class="field">
    <%= f.label :email %> <br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "次へ" %>
  </div>
<% end %>