.exhibit-btn{
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 1000;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  &__head{
    margin: 32px 0 0;
  }
  &__icon{
    font-size: 54px;
    font-family: 'icon-font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}