.header{
  width: 100vw;
  height: 100px;
  background: #fff;
  .inner{
    width: 1020px;
    margin: 0 210px;
    .upper{
      height: 40px;
      margin-top: 10px;
      display: flex;
      &__left{
        height: 40px;
        box-sizing: border-box;
        &__title{

        } 
      }
      &__right{
        position: relative;
        background: #f5f5f5;
        height: 42px;
        width: 100%;
        margin-left: 40px;
        box-sizing: border-box;
        border-radius:4px;
        display: flex;
        border: 1px solid #ccc;
        .form{
          position: absolute;
          left:0;
          top:0;
          background:#f5f5f5;
          border: none ;
          box-sizing: border-box;
          font-size: 16px;
          color: #434a54;
          height: 36px;
          width: 841px;
          padding-left: 10px;
          padding-right: 42px;
          border-radius: 4px;
        }
        .mask{
          background:none;
          border-radius:10px;
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          -webkit-box-align: center;
          align-contents: center;
          justify-content: center;
          -webkit-box-pack: center;
          width: 40px;
          height: 40px;
          cursor: pointer;
          border: none;
          font-size: 15px;
          font-family: "icon-font";
          &__search{
            box-sizing: inherit;
          }
        }
      }
    }
    .lower{
      height: 46px;
      box-sizing: border-box;
      &__left{
        height: 46px;
        float: left;
        display: flex;
        box-sizing: border-box;
        a:link {color: black;}
        a:visited{color: black;}
        a:hover {color: #0099e8;text-decoration: none;}
        .option{
          display: inline-block;
          display: flex;
          line-height: 46px;
          list-style: none;
          font-size: 14px;
          font-weight: 500;
          padding-right: 10px;
          text-decoration: none;
          cursor: pointer;
          &__icon{
            color: red;
          }
        }
      }
      &__right{
        height: 46px;
        float: right;
        box-sizing: border-box;
        .user-nav{
          height: 46px;
          box-sizing: border-box;
          a:link {color: black;}
          a:visited{color: black;}
          a:hover {color: #0099e8;text-decoration: none;}
          &__menu{
            display: inline-block;
            line-height: 46px;
            list-style: none;
            padding-left: 15px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            -webkit-font-smoothing: antialiased;
            text-decoration: none;
            cursor: pointer;
            &__icon{
              color: gray;
              box-sizing: inherit;
            }
          }
        }
        .login-nav{
          display: flex;
          margin-top: 10px;
          &__signup{
            display: block;
            padding: 0 10px;
            line-height: 30px;
            border-radius: 4px;
            border: 1px solid #ea352d;
            background: #ea352d;
            color: #fff;
            text-align: center;
            text-decoration: none;
          }
          &__signin{
            display: block;
            margin: 0 0 0 10px;
            padding: 0 10px;
            line-height: 30px;
            border-radius: 4px;
            border: 1px solid #0099e8;
            background: #fff;
            color: #0099e8;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }
// category_index_scss  リファクタリングの必要あり！！
    .lower__left__categry__box{
      // display: none;
      height: 1012px;
      width: 672px;
      .lower__left__categry__list{
        display: flex;
        line-height: 44px;
        height: 1012px;
        width: 672px;
        background: $white;
        &__parent{
          z-index: 1;
          @include category-index-lists-Width;
        }
        &__parent__list{
          width: auto;
          background: $white;
          @include category-index-lists-Width;
        }
        &__child{
          z-index: 1;
          @include category-index-lists-Width;
        }
        &__child__list{
          list-style: none;
          background: $white;
          @include category-index-lists-Width;
        }
        &__grandchild{
          z-index: 1;
          @include category-index-lists-Width;
        }
        &__grandchild__list{
          background: $white;
          @include category-index-lists-Width;
        }
      }
    }

  }
}

// 以下、カテゴリーのカーソルを当てると、色が変わるCSS
.now-selected-red{
  background-color:#ea352d;
  color:white;
  display: block;
}

.now-selected-gray{
  background-color: #f2f2f2;
  display: block;
}

.now-selected-rgba{
  background-color:  #f2f2f2;
  display: block;
}
// link_toメソッドをブロック要素化
a{
  text-decoration: none;
  color: black;
  display: block;
  padding: 0px 16px;
}
// ボーダーラインのcss
// border: solid;
// border-width: 0.1px;
// border-color: #e0e0e0;