@import 'reset';
@import 'font-awesome';
@import 'config/colors';
@import 'mixins/mixin';
@import 'modules/product-new';
@import 'modules/product-confirm';
@import 'modules/product-show';
@import 'modules/product-header';
@import 'modules/wrapper';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/exhibit-btn';
@import 'modules/products';
@import 'devise-session';
@import 'modules/signupstep1';
@import 'modules/signupstep2';
@import 'modules/signupstep3';
@import 'modules/signupstep4';
@import 'modules/signupstep5';
@import 'modules/signup-done';
@import 'modules/devise-footer';
@import 'modules/devise-header';
@import 'modules/mypages-logout';
@import 'modules/mypages-identification';
@import 'modules/mypages-profile';
@import 'modules/mypages-edition';
@import 'modules/sidebar';


// ページ全体の基本のfontや背景色
body{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}